<p id="notice"><%= notice %></p>
<h1>
	 Users: <%= @user.name %>
</h1>

<h2>
	<%@user.name do |f|%>
	 <%= f.label :name %><br>
	 <%end%>
	 haha

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%#= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Back', users_path %>


